<div class="row">
  
  <div class="col-md-6">
    <h1 class="text-3xl font-bold tracking-tight text-black">Chicken-Cheese-Bread-Lettuce</h1>
    <h1 class="text-xl font-bold tracking-tight text-black">Login</h1>
    <body class="h-screen bg-gradient-to-b from-green-300 to-green-600">
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h1 class="text-xl font-bold tracking-tight text-black">Signup<h1>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
    </body>
  </div>
</div>

<script src="./js/login.js"></script>
